@import'./variables.css';
@import'./reset.css';


body {
    font-size: 100%;
    transition: all 1s;
    font-weight: normal;
    background-size: cover;
    color: var(--color-general);
    background-image: url('../images/fondo-semitono-azul-rosa_53876-144365.webp');
}

.container {
    width: auto;
    height: auto;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.centro {
    width: 100%;
    max-width: 320px;
}

.titulo {
    font-size: 250%;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-texto);
}

.titulo:hover {
    color: var(--hover);
}

.ingreso {
    border: 3px;
    width: 100%;
    box-sizing: unset;
    padding: 50px 30px;
    border-radius: 22px;
    background-color: var(--color-general);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.ingreso input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(5, 6, 6);
    font-weight: bolder;
    text-transform: capitalize;

}

.ingreso input {
    text-align: center;
    outline: none;
    border: 3px solid transparent;
    width: 100%;
    background-color: transparent;
    height: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: block;
    font-size: 110%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--color-texto);
    color: var(--color-texto);
    padding: 5px 5px 5px 10px;
}

.line-red {
    border: 2px solid red !important;
}

.ingreso input::placeholder {
    color: rgb(47, 49, 51);
    text-align: center;
    font-weight: bold;
}

.btn-group{
    display: flex;
    justify-content: space-evenly;
}

.btn-group button:nth-child(2) {
    flex-grow: 5;
}

.btn-group button {
    /*
    width: 100%;
    */
    margin: 0 5px;
    height: 40px;
    font-size: 110%;
    margin-top: 20px;
    border-radius: 22px; 
    flex-grow: 1;
    color: var(--color-texto);
}

.registrar, .ver{
    background-color: var(--color-general);
    border: 0;
    outline: 0;
    letter-spacing: 1px;
    font-size: medium;
    font-weight: bolder;
}

.ingreso button:hover {
    color: var(--color-secundario);
}
