*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--color-texto);
    font-family: var(--fuente);
}
a{
    text-decoration: none;
}
img{
    height:auto;
    max-width: 100%;
}