:root{
    --normal:16px;
    --titulo:32px;
    --encabezado:25px;
    --hover:aliceblue;
    --color-texto:#444444;
    --color-general:rgb(142, 161, 246);
    --color-secundario:rgb(51, 46, 176) ;
    --fuente: Arial, Helvetica, sans-serif; 
}